.hero {
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero > h1 {
    font-size: 50pt;
    font-family: var(--myFont);
}



.label {
    background-color: rgba(0, 0, 0, 0.171);
    border-radius: 50px;
    width: 250px;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.521);
}

.pulse {
    width: 20px;
    height: 20px;
    background-color: #25a55ae8;
    border-radius: 50%;
}