.main {
    background-color: black;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.185);
}